.ReactCollapse--collapse {
    transition: height 500ms;
}


.btn-blue {
    background-color: #3872fa !important;
    padding: 8px 20px !important;
    color: #fff !important;

}

.btn-blue:hover {
    background-color: #3067e5 !important;
    color: #fff !important;

}

.btn-green { 
    background-color: #087e47 !important;
    padding: 8px 20px !important;
    color: #fff !important;

}

.btn-green:hover {
    background-color: #008080 !important;
    color: #fff !important;

}

.btn-blue svg,
.btn-green svg {
    font-size: 20px !important;
}

.btn-sm {

    padding: 6px 20px !important;
    font-size: 14px !important;
}