.ReactCollapse--collapse {
    transition: height 500ms;
}


.btn-blue {
    background-color: #3872fa !important;
    padding: 8px 20px !important;
    color: #fff !important;
    border-radius: 6px !important;
}

.btn-blue:hover {
    background-color: #3067e5 !important;
    color: #fff !important;

}

.btn-green {
    background-color: #087e47 !important;
    padding: 8px 20px !important;
    color: #fff !important;
    border-radius: 6px !important;


}

.btn-green:hover {
    background-color: #008080 !important;
    color: #fff !important;

}

.btn-blue svg,
.btn-green svg {
    font-size: 20px !important;
}

.btn-sm {

    padding: 6px 20px !important;
    font-size: 14px !important;
}

.btn-dark-border {
    color: #000000 !important;
    cursor: pointer !important;
    border-radius: 6px !important;
    padding: 8px 20px !important;
    border: 2px solid #333 !important;
}

.btn-dark-border:hover {
    background-color: #333 !important;
    color: #fff !important;
}

.btn-dark-border.active {
    font-size: 16px !important;
    text-decoration: underline #000 !important;
    background-color: #f1f1f156 !important;
    border: none !important;
}

.link:hover {
    color: #3872fa !important;
}