.productItem .title {
    line-height: 18px;
}

.productItem .swiper-wrapper {
    padding: 15px;
}

.productItem .swiper-wrapper:hover {

    margin: 0px -15px 0px -15px;


}

button .btnHover {
    color: black !important;
}

button:hover .btnHover {
    color: white !important;
}