@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
  color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
}

h2,
h3,
h4,
h5 {
  font-weight: 600;
}

.container {
  width: 95%;
  margin: auto;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #ff5252;
}

::-webkit-bar-track {
  background-color: #fff;
}




.link:hover {
  color: #ff5252;
  transition-property: all;
  transition-timing-function: var(--default-transition-timing-function);
  /* cubic-bezier(0.4, 0, 0.2, 1) */
  transition-duration: var(--default-transition-duration);
  /* 150ms */
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

/* nav ul button {
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.0.7) !important
}

nav ul button:hover {
  text-transform: capitalize !important;
  color: #ff5252 !important
} */

nav ul button:hover {
  background: none;
}

.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #ff5252 !important;
}


.css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #ff5252 !important;
}