p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
}

h2,
h3,
h4,
h5 {
    font-weight: 600;
}

.reviewScroll::-webkit-scrollbar-thumb {
    background-color: #ccc !important;
}

.reviewScroll::-webkit-scrollbar {
    width: 5px !important;
}